@import './Normalize.scss';

// ********** INDEX ********** //

#root {
  height: 100vh;
}

.home-container {
  // background-color: blue;
  height: 100vh;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;

  @include background-gradient();

  position: relative;
  @include flexbox();

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.open {
      background-color: rgba(0, 0, 0, 0.4);
      display: block;
      transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  input {
    border-radius: 10px;
    padding: 10px 0px;
    border: none;
    margin: 20px;
    text-align: center;
    font-size: 18px;
  }

  .title {
    margin: 0px;
  }

  #home-title-madgab {
    margin: 20px 0px 40px 0px;
  }

  .game-id-label {
    margin: 0px;
  }

  .game-id-input {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }

  input,
  button {
    width: 200px;
  }

  .start-game-button {
    font-size: 16px;
    // background-color: $primary-yellow;
  }
}

.gradient {
  position: absolute;
  width: inherit;
  height: inherit;
  background: -moz-radial-gradient(center,
      ellipse cover,
      rgba(lighten($primary-blue, 20%), 0.25) 0%,
      rgba(darken($primary-blue, 40%), 0.2) 100%);
  background: -webkit-gradient(radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, rgba(lighten($primary-blue, 20%), 0.25)),
      color-stop(100%, rgba(darken($primary-blue, 40%), 0)));
  background: -webkit-radial-gradient(center,
      ellipse cover,
      rgba(lighten($primary-blue, 20%), 0.25) 0%,
      rgba(darken($primary-blue, 40%), 0.2) 100%);
  background: -o-radial-gradient(center,
      ellipse cover,
      rgba(lighten($primary-blue, 20%), 0.25) 0%,
      rgba(darken($primary-blue, 40%), 0.2) 100%);
  background: -ms-radial-gradient(center,
      ellipse cover,
      rgba(lighten($primary-blue, 20%), 0.25) 0%,
      rgba(darken($primary-blue, 40%), 0.2) 100%);
  background: radial-gradient(ellipse at center,
      rgba(lighten($primary-blue, 20%), 0.25) 0%,
      rgba(darken($primary-blue, 40%), 0.2) 100%);
}

.home-content.flex {
  flex-flow: column wrap;
  width: 60%;
  z-index: 1;
  position: relative;
}

.rules-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 0px 3px 10px darken($primary-blue, 10%);
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 30px;
  background-color: #fff;
  color: black;
  z-index: 100;

  #rules-button {
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    padding: 15px 20px 40px 20px;
    color: white;
    border-bottom: none;
    cursor: pointer;

    h3 {
      margin: 0;
    }
  }

  &.open {
    transform: translate(-50%, -10%);

    #rules-button {
      color: black;
      border: none;
      top: 50px;
      position: relative;
    }

    .close-button {
      display: block;
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        color: darken($primary-blue, 10%);
      }
    }
  }

  &.closed {
    transform: translate(-50%, 100%);
  }
}

// ********** GAME ********** //

.game-container {
  @include flexbox();
  flex-flow: column wrap;
  height: 100%;
  @include background-gradient();

}

.game-content {
  position: relative;
  // height: 100%;
  @include flexbox();
  flex-flow: column wrap;
  flex-grow: 10;
  color: white;
  text-align: center;
  width: 100%;
  // @include background-gradient();
}

.textbox {
  margin: 40px auto 40px auto;
}

.footer, .header, .game-info {
  @include flexbox();
  flex-grow: 1;
}

.footer,
.game-info {
  flex-flow: row nowrap;
  height: auto;
  justify-content: space-around;
  width: 60%;
}

// .footer {
//   // width: 100%;
// }

.header {
  padding: 0px 20px;
  flex-flow: column wrap;
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  h3 {
    margin: 0px;
  }
}


.choose-team.container {
  @include flexbox();
  flex-flow: column nowrap;
  height: 60%;
  justify-content: space-around;
}

// ********** TOGGLE SLIDER ********** //

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.team1 {
  background-color: $primary-blue;
}

.team2 {
  background-color: $primary-blue;
}