@import './App.scss';

.header {
    @include flexbox();
    padding: 10px 20px;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #fff;
    color: $off-black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 90px;
    margin-top: -4%;

    h3 {
        margin: 0px;
        margin-bottom: 10px;
    }
}

.round-counter {
    margin-bottom: 20px;
}

.team-1-blue-score {
    color: $primary-blue;
}

.team-2-red-score {
    color: $primary-red;
}

// .header .game-branding {
//     display: none;
// }

// @media only screen and (max-width: 600px) {
.header .game-branding {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    // TODO add links to home and to rules modal0
    font-size: 1.3rem;
}

// }