@import './Variables.scss';

.header {
    @include flexbox();
    padding: 10px 20px 10px 20px;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #fff;
    color: $off-black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 90px;
    margin-top: -4%;
    min-width: 5rem;

    h3 {
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 12%;
    }
}

.round-counter {
    margin-bottom: 20px;
}

.team-1-blue-score {
    color: $primary-blue;
}

.team-2-red-score {
    color: $primary-red;
}

.header .game-branding {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    // TODO add links to rules modal
    font-size: 1.3rem;
    margin-top: 2%;
    height: 40px;
    padding: 0px 2vw;
    box-sizing: border-box;
}


// TODO: fix scorebox overlap onto home and rules

.home-logo {
    color: white;
    text-decoration: none;
    &:hover {
        font-weight: bold;
        font-size: 105%;
    }
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
        border: none;
    }
}