.clue-icon-container {
    position: relative;
}


.circle-icon.total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    top: 75px;
    transition: all .3 ease;
}

.hidden {
    opacity: 0;
}

.none {
    display: none;
}

.icon-placeholder {
    height: 48px;
    width: 48px;
}

.game-content > *  {
    margin: 1rem auto;
}