h1#points-count {
    // margin-top: -0.7em;
}

.clue-icon-container {
    // border: 2px solid yellow;
    position: relative;
//     width: 200px;
//     height: 40px;
}

// .circle-icon {
//     position: absolute;
//     top: 0;
//     left: 0;
//     &:nth-child(2) {
//         left: 60px;
//     }
//     &:nth-child(3) {
//         left: 120px;
//     }
//     transition: all .3 ease;
// }

// .converge {
//     left: 50px;
//     // top: 0 !important;
//     // left: 0 !important;
//     // transform: translate(-50%, -50%) !important;
// }

.circle-icon.total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    top: 75px;
    transition: all .3 ease;
    // opacity: 1;
}

.hidden {
    opacity: 0;
}

.show {
    // opacity: 1;
}

.none {
    display: none;
}

.icon-placeholder {
    height: 48px;
}