@import './Variables.scss';

.cta-begin-stealing {
    @include flexbox();
    position: relative;

    .tooltip-icon {
        margin-left: 10px;
        position: absolute;
        left: 100%;
    }
}

.cta-steal-submit {
    position: relative;

    .steal-submit-timer {
        position: absolute;
        top: 30%;
        right: -40%;
    }
}
