@import './Variables.scss';

.cta-begin-stealing {
    @include flexbox();
    position: relative;

    .tooltip-icon {
        margin-left: 10px;
        position: absolute;
        left: 100%;
    }
}

.cta-steal-submit {
    position: relative;

    .steal-submit-timer {
        position: absolute;
        top: 30%;
        right: -40%;
    }
}

.line.three {
    margin-bottom: .1em;
    line-height: 1em;
}

.line.two {
    margin-top: 0em;
}

.icon-placeholder {
    height: 48px;
}

#available-points {
    margin-top: 0em;
}